<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>List of Student in the School </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="nav-link me-3" href="api">Home</a>
            <a class="nav-link" href="seniorOne">Senior One</a>
        </div>
        <a class="nav-link" href="api/student/edit/{id}">New Student Register</a>
    </div>
</nav>
<h1 class="text-center m-3">LIST OF SENIOR  ONE STUDENTS </h1>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">F Name</th>
        <th scope="col">O Name</th>
        <th scope="col">LName</th>
        <th scope="col">D.O.B</th>
        <th scope="col">NIN</th>
        <th scope="col">Gender</th>
        <th scope="col">Class</th>
        <th scope="col">Fees</th>
        <th scope="col">Health</th>
        <th scope="col">F school</th>
        <th scope="col">Reason</th>
        <th scope="col">Performance</th>
        <th scope="col">Photo</th>
        <th scope="col">Address</th>
        <th scope="col">Sub-C</th>
        <th scope="col">District</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students }">
        <td th:text="${student.id}"></td>
        <td th:text="${student.studentFirstName}"></td>
        <td th:text="${student.studentMidName}"></td>
        <td th:text="${student.studentLastName}"></td>
        <td th:text="${student.studentDateOfBirth}"></td>
        <td th:text="${student.studentNationalIdentificationNumberNIN}"></td>
        <td th:text="${student.studentGender}"></td>
        <td th:text="${student.studentClass}"></td>
        <td th:text="${student.feesToBeePaid}"></td>
        <td th:text="${student.studentHealthRecord}"></td>
        <td th:text="${student.formerSchoolName}"></td>
        <td th:text="${student.reasonWhyChangedSchool}"></td>
        <td th:text="${student.formerSchoolPerformanceRecords}"></td>
        <td th:text="${student.studentPhoto}"></td>
        <td th:text="${student.studentHomeAddress}"></td>
        <td th:text="${student.studentSubCounty}"></td>
        <td th:text="${student.studentDistrict}"></td>
               <td>
        <!--            &lt;!&ndash; Update the link to pass the book's ID &ndash;&gt;-->
                    <a class="btn btn-secondary btn-sm" th:href="@{/api/student/delete/{id}(id=${student.id})}">Delete</a>

        <!--            <a style="color: red" th:href="@{/deleteBook/{id}(id=${book.id})}"><i class="btn btn-danger">Delete</i></a>-->
                </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>